/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
/* 
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

*/

/* variables */
:root {
  /* font-family */
  --font-titles: 'Young Serif', serif;
  --font-content: 'Outfit', sans-serif;
  /* color palette */
  --white: hsl(0, 0%, 100%);
  --black: hsl(24, 5%, 18%);
  --grey: hsl(30, 10%, 34%);
  --grey-medium: hsl(30, 18%, 87%);
  --grey-light: hsl(30, 54%, 90%);
  --brown: hsl(14, 45%, 36%);
  --rose: hsl(332, 51%, 32%);
  --rose-light: hsl(330, 100%, 98%);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-content);
  color: var(--grey);
}

html {
  font-size: 62.5%;
}

/* header */
#body,
#header,
#header--section,
#preparation_section,
#preparation_section--list {
  display: flex;
  flex-direction: column;
}
#body {
  gap: 25px;
  max-width: 768px;
  margin: 0 auto;
}
#header {
  width: 100%;
  align-items: center;
  gap: 25px;
}
#header--picture img {
  width: 100%;
}
#header--section,
#preparation_section {
  width: 90%;
  align-items: center;
}
#header--section {
  gap: 20px;
}
h1 {
  font-size: clamp(3rem, 5vw, 3rem);
  line-height: 3rem;
  color: var(--black);
}
#header--title,
#header--paragraph,
#preparation_section--title,
#preparation_section--list,
.preparation_section--list_item {
  width: 100%;
}
#header--paragraph,
.preparation_section--list_item {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  line-height: 1.8rem;
}
.preparation_section--list_item::marker {
  color: var(--rose);
}
#preparation_section {
  background-color: var(--rose-light);
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}
#preparation_section--title {
  font-size: clamp(1.5rem, 1.5vw, 1.8rem);
  color: var(--rose);
  font-weight: 600;
}
#preparation_section--list {
  list-style: none;
}
#preparation_section--list {
  list-style-position: inside;
  gap: 8px;
  padding-left: 8px;
}
.preparation_section--list_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.preparation_section--list_item::before {
  content: '•';
  color: var(--rose);
  font-weight: bolder;
}
#header--title,
#ingredients--title,
#instructions--title,
#nutrition--title {
  font-family: var(--font-titles);
  font-weight: 400;
  font-style: normal;
}

/* main */
#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.line {
  width: 90%;
  border: 0;
  height: 1px;
  background-color: var(--grey-medium);
}
#ingredients,
#instructions,
#nutrition {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#ingredients--title,
#instructions--title,
#nutrition--title {
  font-size: clamp(2rem, 4vw, 2.5rem);
  color: var(--brown);
}
.ingredients--list_item,
.instructions--list_item,
#nutrition--paragraph,
#nutrition--table {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  line-height: 1.8rem;
}
#ingredients--list {
  list-style: none;
}
#instructions--list {
  counter-reset: my_counter;
  list-style: none;
  padding: 0;
}
#ingredients--list,
#instructions--list {
  list-style-position: inside;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ingredients--list_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.instructions--list_item::marker {
  color: var(--brown);
}
.instructions--list_item::marker {
  font-weight: bold;
}
.ingredients--list_item::before {
  content: '•';
  color: var(--brown);
  font-weight: bolder;
}
.instructions--list_item {
  counter-increment: my_counter;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.instructions--list_item::before {
  content: counter(my_counter) '.';
  color: var(--brown);
  font-weight: bolder;
  width: 1em;
}

/* nutrition */
.nutrition--table_row td {
  text-align: left;
  padding-left: 15px;
  height: 30px;
  border-bottom: 1px solid #ddd;
}

.nutrition--table_row :last-child {
  color: var(--brown);
  font-weight: bold;
}

/* footer */
#footer {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  width: 100%;
  margin: 25px 0 40px 0;
}
#footer_content {
  width: 90%;
  margin: 0 auto;
}
#footer_content a {
  color: var(--brown);
  font-weight: 500;
}

/* desktop view responsive */
@media only screen and (min-width: 768px) {
  html {
    padding: 30px;
  }
  #header--picture {
    width: 90%;
    margin: 0 auto;
  }
  #header--picture img {
    border-radius: 20px;
  }
  .nutrition--table_row td {
    padding-left: 30px;
  }
}
