/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* variables */
:root {
  /* font-family */
  --font-titles: 'Young Serif', serif;
  --font-content: 'Outfit', sans-serif;
  /* color palette */
  --white: hsl(0, 0%, 100%);
  --black: hsl(24, 5%, 18%);
  --grey: hsl(30, 10%, 34%);
  --grey-medium: hsl(30, 18%, 87%);
  --grey-light: hsl(30, 54%, 90%);
  --brown: hsl(14, 45%, 36%);
  --rose: hsl(332, 51%, 32%);
  --rose-light: hsl(330, 100%, 98%);
}
